@model string;
@{

    Layout = null;//ViewData["Title"] = "MyView";
}

<!DOCTAPE html>
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Index</title>
    </head>
    <body>
        <div>@Model World from MyView</div>
    </body>
</html>

