@{
    //ViewData["Title"] = "Home Page";
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <title>Party!</title>
</head>
<body>
    <a asp-action="RsvpForm">RSVP Now</a>
    <div>We're going to have an exciting party </div>
</body>
</html>