@model ZSK_Rechner.Models.Waehrungsrechner
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Betrag in ZSK</h1>

    <form asp-action="FormZSK" method="post" class="m-2">
        <div class="form-group">
            <label asp-for="Kuh">Kuh</label>
            <input asp-for="Kuh" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Schaf">Schaf</label>
            <input asp-for="Schaf" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Ziege">Ziege</label>
            <input asp-for="Ziege" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="KleineZiege">Kleine Ziege</label>
            <input asp-for="KleineZiege" class=" form-control" />
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Rechnen</button>
        </div>


    </form>

</div>
