@model double   
@{
    ViewData["Title"] = "ResultEuro";
}

<h1>Betrag in Euro</h1>
<div class="text-center p-2">
    <table class="table table-bordered table-sm">
        <tr>
            <td>Betrag in Euro</td>
            <td>@Model.ToString() Euro</td>
        </tr>
      
    </table>
</div>