@model Contact.Models.ContactRes
@{
    ViewData["Title"] = "Home Page";
}

<div class="m-4">
    <h5 class="bg-primary text-white text-center ">Add Contact</h5>
        <form asp-action="AddContact" method="post" class="form-check col-md-6">
        <label asp-for="FirstName">First Name</label>
        <input asp-for="FirstName" class="form-control" />
        <label asp-for="LastName" >Last Name</label>
        <input asp-for="LastName" class="form-control" />
        <label asp-for="Email" ></label>
        <input asp-for="Email" class="form-control" />
        <label asp-for="Phone" ></label>
        <input asp-for="Phone" class="form-control" />
        <div class="row">
            <div class="col">
                <input type="reset" value="Reset     " class="btn-danger" />
            </div>
            <div class="col">
                <input type="submit" value="Add Contact" class="btn-primary " />
            </div>
           
            
        </div>
       


    </form>

    </>
   
</div>
